#spring:
#  profiles:
#    active: local #기본 환경 선택

spring:
  config:
    activate:
      on-profile: prod

# local 환경
---
spring:
  profiles:
    activate: prod
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:mariadb://database-1.cwmns3xrahu0.ap-northeast-2.rds.amazonaws.com:3306/webservice
    username: admin
    password: tkddnjs2
    driver-class-name: org.mariadb.jdbc.Driver
    initialization-mode: always
