spring:
  profiles:
    active: local # ?? ?? ??
  datasource:
    url: jdbc:mariadb://database-1.cwmns3xrahu0.ap-northeast-2.rds.amazonaws.com:3306/webservice
    username: admin
    password: tkddnjs2
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    show-sql: true