spring:
  profiles:
    active: local # ?? ?? ??

# local ??
---
spring:
  profiles: local
  datasource:
    data: jdbc:mariadb://database-1.cwmns3xrahu0.ap-northeast-2.rds.amazonaws.com:3306/webservice
    username: admin
    password: tkddnjs2
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true