<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Login')">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Reset Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/csss/login2.css}">
<!--   <link rel="stylesheet" href="/sangwon/src/main/resources/static/css/csss/login2.css">-->

    <!-- Gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JS -->
    <script defer th:src="@{/js/jss/login2.js}"></script>
<!--   <script defer src="/sangwon/src/main/resources/static/js/jss/login2.js"></script>-->

    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<!-- Side Menu Bar -->
<nav class="side-menu" th:replace="fragments/common :: side-menu('signin')">
<!--    <div class="side-menu__inner">-->
<!--        <ul>-->
<!--            <li>-->
<!--                <div class="side-menu__container">-->
<!--                    <a th:href="@{/}">-->
<!--                        <div class="material-icons">home</div>-->
<!--                        <div class="side-menu__name">Home</div>-->
<!--                    </a>-->
<!--                    <div class="material-icons toggle-btn">arrow_drop_down</div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="side-menu__container">-->
<!--                    <a th:href="@{/board/list}">-->
<!--                        <div class="material-icons">assignment</div>-->
<!--                        <div class="side-menu__name">Post</div>-->
<!--                    </a>-->
<!--                    <div class="material-icons toggle-btn">arrow_drop_down</div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="side-menu__container">-->
<!--                    <a href="">-->
<!--                        <div class="material-icons">chat_bubble</div>-->
<!--                        <div class="side-menu__name">Message</div>-->
<!--                    </a>-->
<!--                    <div class="material-icons toggle-btn">arrow_drop_down</div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="side-menu__container">-->
<!--                    <a href="">-->
<!--                        <div class="material-icons">star</div>-->
<!--                        <div class="side-menu__name">Reward</div>-->
<!--                    </a>-->
<!--                    <div class="material-icons toggle-btn">arrow_drop_down</div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="side-menu__container">-->
<!--                    <a href="">-->
<!--                        <div class="material-icons">account_circle</div>-->
<!--                        <div class="side-menu__name mypage">My page</div>-->
<!--                    </a>-->
<!--                    <div class="material-icons toggle-btn">arrow_drop_down</div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="side-menu__container">-->
<!--                    <a href="">-->
<!--                        <div class="material-icons">people</div>-->
<!--                        <div class="side-menu__name">Members</div>-->
<!--                    </a>-->
<!--                    <div class="material-icons toggle-btn">arrow_drop_down</div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="side-menu__container">-->
<!--                    <a th:href="@{/account/login}">-->
<!--                        <div class="material-icons">login</div>-->
<!--                        <div class="side-menu__name sign-in">Sign in / Register</div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</nav>

<!-- Main-Page -->
<div class="main-page">
    <div class="inner">
        <div class="top-nav" th:replace="fragments/common :: top-nav">
            <div class="website-name" style="cursor: pointer;">
                <div class="website-name__title">
                    <div class="creativity">Creativity</div>
<!--                    <div class="material-icons">tungsten</div>-->
<!--                </div>-->
<!--                <div class="website-name__description">The world is your oyster</div>-->
<!--            </div>-->
<!--            <div class="website-menu">-->
<!--                <div>-->
<!--                    <div class="material-icons side-menu-btn">menu</div>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="middle-nav">
            <div class="graphic">
                <div class="graphic__upper-line">
                    <div class="the">The</div>
                    <div class="world">WORLD</div>
                </div>
                <div class="graphic__bottom-line">
                    <div class="is">is</div>
                    <div class="your">your</div>
                    <div class="oyster">OYSTER</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-page">
    <div class="inner">
        <div class="left-container"></div>
        <div class="right-container">
            <form class="login" th:action="@{/account/login}" method="post">
                <div class="title">
                    <h1 class="">Login</h1>
                </div>

                <div class="container">
                    <label for="floatingInput">Username</label>
                    <div class="material-icons user-icon">perm_identity</div>
                    <input type="text" class="" id="floatingInput" name="username" placeholder="Type your Username">
                </div>
                <div class="container">
                    <label for="floatingPassword">Password</label>
                    <div class="material-icons user-icon">lock</div>
                    <input type="password" class="" id="floatingPassword" name="password" placeholder="Type your Password">
                </div>
                <div class="alert alert-danger" role="alert" th:if="${param.error}" style="margin-top: 35px; color: rgb(248, 89, 89);">
                    Invalid username and password.
                </div>
                <div class="alert alert-secondary" role="alert" th:if="${param.logout}" style="margin-top: 35px; color:rgb(26, 131, 96)">
                    You have been logged out.
                </div>
                <div class="login-btn">
                    <button class="" type="submit">LOGIN</button>
                </div>
                <p class="open-register-page-btn" onclick="swapPage()">Sign Up</p>
            </form>

            <form class="register" th:action="@{/account/register}" method="post">
                <div class="title">
                    <h1 class="">Register</h1>
                </div>

                <div class="container">
                    <label for="floatingUsername">Username</label>
                    <div class="material-icons user-icon">account_circle</div>
                    <input type="text" class="" id="floatingUsername" name="username" placeholder="Type your Username">
                </div>

                <div class="container">
                    <label for="password">Password</label>
                    <div class="material-icons user-icon">lock</div>
                    <input type="password" class="" id="password" name="password" placeholder="Type your Password">
                </div>

                <div class="container">
                    <label for="floatingName">Name</label>
                    <div class="material-icons user-icon">account_circle</div>
                    <input type="text" class="" id="floatingName" name="name" placeholder="Type your Name">
                </div>

                <div class="container">
                    <label for="emailAddress">Email address</label>
                    <div class="material-icons user-icon">perm_identity</div>
                    <input type="email" class="" id="emailAddress" name="email" placeholder="Type your Email address">
                </div>


                <div class="register-btn">
                    <button class="" type="submit">
                        <span class="text">CREATE ACCOUNT</span>
                    </button>
                </div>

                <p class="open-login-page-btn" onclick="swapPage()">Back to Login Page</p>
            </form>
        </div>
    </div>
</div>

<div class="darkening">

</div>

</body>
</html>