<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Reset Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/csss/message copy.css}">
   <link rel="stylesheet" href="/sangwon/src/main/resources/static/css/csss/message copy.css">

    <!-- Gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JS -->
    <script defer th:src="@{/js/jss/message copy.js}"></script>
    <script defer src="/sangwon/src/main/resources/static/js/jss/message copy.js"></script>

    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Lodash CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <!-- Side Menu Bar -->
    <nav class="side-menu" th:replace="fragments/common :: side-menu('message')">
        <div class="side-menu__inner">
            <ul>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/}">
                            <div class="material-icons">home</div>
                            <div class="side-menu__name">Home</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/board/list}">
                            <div class="material-icons">assignment</div>
                            <div class="side-menu__name">Post</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/message/list}">
                            <div class="material-icons">chat_bubble</div>
                            <div class="side-menu__name">Message</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">star</div>
                            <div class="side-menu__name">Reward</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">account_circle</div>
                            <div class="side-menu__name mypage">My page</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">people</div>
                            <div class="side-menu__name">Members</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/account/login}">
                            <div class="material-icons">login</div>
                            <div class="side-menu__name sign-in">Sign in / Register</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Nav -->
    <div class="main-page">
        <div class="top-nav" th:replace="fragments/common :: top-nav">
            <a th:href="@{/}">
                <div class="website-name" style="cursor: pointer;">
                    <div class="website-name__title">
                        <div class="creativity">Creativity</div>
                        <div class="material-icons">tungsten</div>
                    </div>
                    <div class="website-name__description">The world is your oyster</div>
                </div>
            </a>
            <div class="website-menu">
                <div>
                    <div class="material-icons side-menu-btn">menu</div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- third Page -->
    <div class="third-page">
        <div class="inner">
            <div class="left-container">
                <div class="btns">
                    <div class="titles">
                        <div class="title received">Received Messages</div>
                        <div class="title sent">Sent Messages</div>
                        <div class="title new">New Message</div>
                    </div>
                    <div class="btns-group">
                        <div class="material-icons received-message-btn">move_to_inbox</div>
                        <div class="material-icons sent-message-btn">outbox</div>
                        <div class="material-icons write-message-btn">rate_review</div>
                    </div>
                </div>
                <ul class="received-page">
                    <li th:each="receivedMessage : ${receivedMessages}">
                        <div class="message-list__single-message" th:onclick="|readMessage(${receivedMessage.id})|">
                            <div class="user-photo">
                                <img src="/image/user-icon.jpg">
                            </div>
                            <div class="username" th:text="${receivedMessage.sender}">user1332</div>
                            <div class="content" th:text="${receivedMessage.content}">this is his is his is his is is a content</div>
                            <div class="date" th:text="${receivedMessage.date}">2022.22.22 33:33:33</div>
                        </div>
                    </li>
                    <div class="board__pagination">
                        <ul>
                            <li th:classappend="${receivedMessages.pageable.pageNumber == 0} or ${receivedMessages.totalElements == 0} ? 'disabled'">
                                <a href="" th:href="@{/message/list(page = ${receivedMessages.pageable.pageNumber - 1})}">&laquo;</a>
                            </li>
                            <li th:unless="${receivedMessages.totalElements == 0}" th:each="i: ${#numbers.sequence(receivedStartPage, receivedEndPage)}" th:classappend="${receivedMessages.pageable.pageNumber == i-1} ? 'active'">
                                <a href="" th:href="@{/message/list(page = ${i-1})}" th:text="${i}">1</a>
                            </li>
                            <li class="disabled" th:if="${receivedMessages.totalElements == 0}">
                                <a class="page-link">1</a>
                            </li>
                            <li th:classappend="${receivedMessages.pageable.pageNumber == receivedMessages.totalPages-1} or ${receivedMessages.totalElements == 0} ? 'disabled'">
                                <a href="" th:href="@{/message/list(page = ${receivedMessages.pageable.pageNumber + 1})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </ul>

                <ul class="sent-page">
                    <li th:each="sentMessage : ${sentMessages}">
                        <div class="message-list__single-message sent" th:onclick="|readSentMessage(${sentMessage.id})|">
                            <div class="user-photo">
                                <img src="/image/user-icon.jpg">
                            </div>
                            <div class="username" th:text="${sentMessage.receiver}">user1332</div>
                            <div class="content" th:text="${sentMessage.content}">this is his is his is his is is a content</div>
                            <div class="date" th:text="${sentMessage.date}">2022.22.22 33:33:33</div>
                        </div>
                    </li>
                    <div class="board__pagination">
                        <ul>
                            <li th:classappend="${sentMessages.pageable.pageNumber == 0} or ${sentMessages.totalElements == 0} ? 'disabled'">
                                <a href="" th:href="@{/message/list(page = ${sentMessages.pageable.pageNumber - 1})}">&laquo;</a>
                            </li>
                            <li th:unless="${sentMessages.totalElements == 0}" th:each="i: ${#numbers.sequence(sentStartPage, sentEndPage)}" th:classappend="${sentMessages.pageable.pageNumber == i-1} ? 'active'">
                                <a href="" th:href="@{/message/list(page = ${i-1})}" th:text="${i}">1</a>
                            </li>
                            <li class="disabled" th:if="${sentMessages.totalElements == 0}">
                                <a class="page-link">1</a>
                            </li>
                            <li th:classappend="${sentMessages.pageable.pageNumber == sentMessages.totalPages-1} or ${sentMessages.totalElements == 0} ? 'disabled'">
                                <a href="" th:href="@{/message/list(page = ${sentMessages.pageable.pageNumber + 1})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </ul>

                <ul class="new-message-page">
                    <li>
                        <form th:action="@{/message/new}" class="new-message-form" method="post">
                            <input type="text" name="receiver" placeholder="Type username">
                            <textarea name="content" placeholder="Type message"></textarea>
                            <button type="submit">Send</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="right-container">
                <div class="title">MESSAGE</div>
                <div id="message-list">
                    <ul class="received-message-list">
                        <li th:each="receivedMessage : ${receivedMessages}">
                            <div class="direct-message-form single-message" th:classappend = "${receivedMessage != null} ? 'single-received' + ${receivedMessage.id}">
                                <div class="line"></div>
                                <div class="material-icons ring">radio_button_unchecked</div>
                                <div class="material-icons close" th:onclick="closeDirectMessageForm()">close</div>
                                <div style="font-size: 12px; text-align: center;">
                                    <span>Message from</span>
                                    <span style="font-weight: bold;" th:text=${receivedMessage.sender}>user1234</span>
                                </div>
                                <textarea th:text=${receivedMessage.content} disabled></textarea>
                                <div class="send-btn" th:onclick="|showReplyForm(${receivedMessage.id}, 'received')|">Reply</div>
                            </div>
                            <form class="direct-message-form reply-box" th:action="@{/message/new}" th:classappend="${receivedMessage != null} ? 'direct-message-received' + ${receivedMessage.id}" method="post">
                                <div class="line"></div>
                                <div class="material-icons ring">radio_button_unchecked</div>
                                <div class="material-icons close" th:onclick="|showReplyForm(${receivedMessage.id}, 'received')|">close</div>
                                <div style="font-size: 12px; text-align: center;">
                                    <span>Reply to</span>
                                    <span style="font-weight: bold;" th:text=${receivedMessage.sender}>user1234</span>
                                </div>
                                <input type="hidden" name="receiver" th:value="${receivedMessage.sender}">
                                <textarea name="content" placeholder="Type message"></textarea>
                                <div class="send-btn" th:onclick="|sendMessage(${receivedMessage.id})|">Send</div>
                            </form>
                        </li>
                    </ul>

                    <ul class="sent-message-list">
                        <li th:each="sentMessage : ${sentMessages}">
                            <div class="direct-message-form single-message" th:classappend = "${sentMessage != null} ? 'single-sent' + ${sentMessage.id}">
                                <div class="line"></div>
                                <div class="material-icons ring">radio_button_unchecked</div>
                                <div class="material-icons close" th:onclick="closeDirectMessageForm()">close</div>
                                <div style="font-size: 12px; text-align: center;">
                                    <span>Message To</span>
                                    <span style="font-weight: bold;" th:text=${sentMessage.receiver}>user1234</span>
                                </div>
                                <textarea th:text=${sentMessage.content} disabled></textarea>
                                <div class="send-btn" th:onclick="|showReplyForm(${sentMessage.id}, 'sent')|">Reply</div>
                            </div>
                            <form class="direct-message-form reply-box" th:action="@{/message/new}" th:classappend="${sentMessage != null} ? 'direct-message-sent' + ${sentMessage.id}" method="post">
                                <div class="line"></div>
                                <div class="material-icons ring">radio_button_unchecked</div>
                                <div class="material-icons close" th:onclick="|showReplyForm(${sentMessage.id}, 'sent')|">close</div>
                                <div style="font-size: 12px; text-align: center;">
                                    <span>Send Message to</span>
                                    <span style="font-weight: bold;" th:text=${sentMessage.receiver}>user1234</span>
                                </div>
                                <input type="hidden" name="receiver" th:value="${sentMessage.receiver}">
                                <textarea name="content" placeholder="Type message"></textarea>
                                <div class="send-btn" th:onclick="|sendSentMessage(${sentMessage.id})|">Send</div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="darkening">

    </div>
</body>
</html>