<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Reset Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/csss/message.css}">
   <link rel="stylesheet" href="/sangwon/src/main/resources/static/css/csss/message.css">

</head>
<body>
    <!-- Side Menu Bar -->
    <nav class="side-menu">
        <div class="side-menu__inner">
            <ul>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/}">
                            <div class="material-icons">home</div>
                            <div class="side-menu__name">Home</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/board/list}">
                            <div class="material-icons">assignment</div>
                            <div class="side-menu__name">Post</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/message/list}">
                            <div class="material-icons">chat_bubble</div>
                            <div class="side-menu__name">Message</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">star</div>
                            <div class="side-menu__name">Reward</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">account_circle</div>
                            <div class="side-menu__name mypage">My page</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">people</div>
                            <div class="side-menu__name">Members</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/account/login}">
                            <div class="material-icons">login</div>
                            <div class="side-menu__name sign-in">Sign in / Register</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Nav -->
    <div class="main-page">
        <div class="top-nav">
            <a th:href="@{/}">
                <div class="website-name" style="cursor: pointer;">
                    <div class="website-name__title">
                        <div class="creativity">Creativity</div>
                        <div class="material-icons">tungsten</div>
                    </div>
                    <div class="website-name__description">The world is your oyster</div>
                </div>
            </a>
            <div class="website-menu">
                <div>
                    <div class="material-icons side-menu-btn">menu</div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- third Page -->
    <div class="third-page">
        <div class="inner">
            <div class="left-container">
                <div class="btns">
                    <div class="titles">
                        <div class="title received">Received Messages</div>
                        <div class="title sent">Sent Messages</div>
                        <div class="title new">New Message</div>
                    </div>
                    <div class="btns-group">
                        <div class="material-icons received-message-btn">move_to_inbox</div>
                        <div class="material-icons sent-message-btn">outbox</div>
                        <div class="material-icons write-message-btn">rate_review</div>
                    </div>
                </div>
                <ul class="received-page">
                    <li th:each="receivedMessage : ${receivedMessages}">
                        <div class="message-list__single-message" th:onmouseenter="|previewMessage(${receivedMessage.id},'received')|">
                            <div class="user-photo">
                                <img src="/image/user-icon.jpg">
                            </div>
                            <div class="username" th:text="${receivedMessage.sender}">user1332</div>
                            <div class="content" th:text="${receivedMessage.content}">this is his is his is his is is a content</div>
                            <div class="date" th:text="${receivedMessage.date}">2022.22.22 33:33:33</div>
                        </div>
                    </li>
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(2)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(3)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(4)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(5)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(6)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(7)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(8)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(9)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(10)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewMessage(11)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
                    <div class="board__pagination">
                        <ul>
                            <li th:classappend="${receivedMessages.pageable.pageNumber == 0} or ${receivedMessages.totalElements == 0} ? 'disabled'">
                                <a href="" th:href="@{/message/list(page = ${receivedMessages.pageable.pageNumber - 1})}">&laquo;</a>
                            </li>
                            <li th:unless="${receivedMessages.totalElements == 0}" th:each="i: ${#numbers.sequence(receivedStartPage, receivedEndPage)}" th:classappend="${receivedMessages.pageable.pageNumber == i-1} ? 'active'">
                                <a href="" th:href="@{/message/list(page = ${i-1})}" th:text="${i}">1</a>
                            </li>
                            <li class="disabled" th:if="${receivedMessages.totalElements == 0}">
                                <a class="page-link">1</a>
                            </li>
                            <li th:classappend="${receivedMessages.pageable.pageNumber == receivedMessages.totalPages-1} or ${receivedMessages.totalElements == 0} ? 'disabled'">
                                <a href="" th:href="@{/message/list(page = ${receivedMessages.pageable.pageNumber + 1})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </ul>

                <ul class="sent-page">
                    <li th:each="sentMessage : ${sentMessages}">
                        <div class="message-list__single-message sent" th:onmouseenter="|previewMessage(${sentMessage.id},'sent')|">
                            <div class="user-photo">
                                <img src="/image/user-icon.jpg">
                            </div>
                            <div class="username" th:text="${sentMessage.receiver}">user1332</div>
                            <div class="content" th:text="${sentMessage.content}">this is his is his is his is is a content</div>
                            <div class="date" th:text="${sentMessage.date}">2022.22.22 33:33:33</div>
                        </div>
                    </li>
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(2)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(3)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(4)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(5)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(6)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(7)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(8)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(9)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(10)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="message-list__single-message" onmouseenter="previewSentMessage(11)">-->
<!--                            <div class="user-photo">-->
<!--                                <img src="../static/image/user-icon.jpg">-->
<!--                            </div>-->
<!--                            <div class="username">user1332</div>-->
<!--                            <div class="content">this is his is his is his is is a content</div>-->
<!--                            <div class="date">2022.22.22 33:33:33</div>-->
<!--                        </div>-->
<!--                    </li>-->
                    <div class="board__pagination">
                        <ul>
                            <li th:classappend="${sentMessages.pageable.pageNumber == 0} or ${sentMessages.totalElements == 0} ? 'disabled'">
                                <a href="" th:href="@{/message/list(page = ${sentMessages.pageable.pageNumber - 1})}">&laquo;</a>
                            </li>
                            <li th:unless="${sentMessages.totalElements == 0}" th:each="i: ${#numbers.sequence(sentStartPage, sentEndPage)}" th:classappend="${sentMessages.pageable.pageNumber == i-1} ? 'active'">
                                <a href="" th:href="@{/message/list(page = ${i-1})}" th:text="${i}">1</a>
                            </li>
                            <li class="disabled" th:if="${sentMessages.totalElements == 0}">
                                <a class="page-link">1</a>
                            </li>
                            <li th:classappend="${sentMessages.pageable.pageNumber == sentMessages.totalPages-1} or ${sentMessages.totalElements == 0} ? 'disabled'">
                                <a href="" th:href="@{/message/list(page = ${sentMessages.pageable.pageNumber + 1})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </ul>

                <ul class="new-message-page">
                    <li>
                        <form th:action="@{/message/new}" class="new-message-form" method="post">
                            <input type="text" name="receiver" placeholder="Type username">
                            <textarea name="content" placeholder="Type message"></textarea>
                            <button type="submit">Send</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="right-container">
                <div class="title">MESSAGE</div>
                <div class="right-container__messages">
                    <ul class="received-message-page">
                        <li th:each="receivedMessage : ${receivedMessages}" class="message-li" th:classappend="${receivedMessage != null} ? 'received' + ${receivedMessage.id}" th:onclick="|previewMessage(${receivedMessage.id},'received')|">
                            <div class="single-message">
                                <div class="user-photo">
                                    <img src="/image/user-icon.jpg">
                                    <div>
                                        <div class="username" th:text="${receivedMessage.sender}">user123444</div>
                                    </div>
                                </div>
                                <div class="date" th:text="${receivedMessage.date}">2033.33.33 33:33:33</div>
                                <div class="material-icons" th:onclick="reply( [[${receivedMessage.sender} ]] , [[${receivedMessage.content}]] )">reply</div>
                                <div class="content" th:text="${receivedMessage.content}">this is a content.11</div>
                            </div>
                        </li>
<!--                        <li class="message-li received2" onclick="mouseOverMessage(2)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.22</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received3" onclick="mouseOverMessage(3)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.33</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received4" onclick="mouseOverMessage(4)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received5" onclick="mouseOverMessage(5)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received6" onclick="mouseOverMessage(6)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received7" onclick="mouseOverMessage(7)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received8" onclick="mouseOverMessage(8)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received9" onclick="mouseOverMessage(9)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received10" onclick="mouseOverMessage(10)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li received11" onclick="mouseOverMessage(11)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>

                    <ul class="sent-message-page">
                        <li th:each="sentMessage : ${sentMessages}" class="message-li" th:classappend="${sentMessage != null} ? 'sent' + ${sentMessage.id}" th:onclick="|previewMessage(${sentMessage.id},'sent')|">
                            <div class="single-message">
                                <div class="user-photo">
                                    <img src="/image/user-icon.jpg">
                                    <div>
                                        <div class="username" th:text="${sentMessage.receiver}">user123444</div>
                                    </div>
                                </div>
                                <div class="date" th:text="${sentMessage.date}">2033.33.33 33:33:33</div>
                                <div class="material-icons" th:onclick="reply( [[${sentMessage.receiver}]] )">reply</div>
                                <div class="content" th:text="${sentMessage.content}">sent11</div>
                            </div>
                        </li>
<!--                        <li class="message-li sent2" onclick="mouseOverSentMessage(2)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.22</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent3" onclick="mouseOverSentMessage(3)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.33</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent4" onclick="mouseOverSentMessage(4)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent5" onclick="mouseOverSentMessage(5)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent6" onclick="mouseOverSentMessage(6)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent7" onclick="mouseOverSentMessage(7)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent8" onclick="mouseOverSentMessage(8)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent9" onclick="mouseOverSentMessage(9)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent10" onclick="mouseOverSentMessage(10)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="message-li sent11" onclick="mouseOverSentMessage(11)">-->
<!--                            <div class="single-message">-->
<!--                                <div class="user-photo">-->
<!--                                    <img src="../static/image/user-icon.jpg">-->
<!--                                    <div>-->
<!--                                        <div class="username">user123444</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="date">2033.33.33 33:33:33</div>-->
<!--                                <div class="material-icons">reply</div>-->
<!--                                <div class="content">this is a content.</div>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="darkening">

    </div>

        <!-- Gsap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- JS -->
        <script defer th:src="@{/js/jss/message.js}"></script>
       <script defer src="/sangwon/src/main/resources/static/js/jss/message.js"></script>
    
       <!-- JQuery CDN -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
       <!-- Lodash CDN -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

       <script>
           // preview received Message

            function previewMessage(id,messageType) {

            var messageGroup = document.querySelectorAll('.'+ messageType +'-message-page .message-li');
            var k = messageGroup.length -1;

            for(j=0; j < messageGroup.length; j++) {
                if (messageGroup[j].classList.contains('focused')) {
                    messageGroup[j].classList.remove('focused');
                };
            };

            var currentMessage = document.querySelector('.' + messageType + id);
            var i = 0;
            while((currentMessage = currentMessage.previousElementSibling) != null) {
                i++;
            }
                
            var currentMessage = messageGroup[i];

            var previousMessage = currentMessage;

            for(var m = 1; m < 6; m++) {
                if (k >= m) {
                    if(previousMessage.previousElementSibling != null) {
                        eval("var prev" + m + "= previousMessage.previousElementSibling");
                    } else {
                        eval("var prev" + m + "= messageGroup[k]");
                    }
                    eval("previousMessage = prev" + m);
                }
            };

            var nextMessage = currentMessage;

            if(k >= 6) {
                for(var m = 6; m < 11; m++) {
                    if (k >= m) {
                        if(nextMessage.nextElementSibling != null) {
                            eval("var next" + (m-5) + "= nextMessage.nextElementSibling");
                        } else {
                            eval("var next" + (m-5) + "= messageGroup[0]");
                        }
                        eval("nextMessage = next" + (m-5));
                    }
                };
            };

            gsap.to(currentMessage, .2, {
                zIndex: 6,
                left: 0,
                scale: .6,
                opacity: 1
            })

            gsap.to(prev1, .2, {
                left: '-20%',
                scale: .47,
                zIndex: 5,
                opacity: .9
            })

            gsap.to(prev2, .2, {
                left: '-33%',
                zIndex: 4,
                scale: .43,
                opacity: .7
            })

            gsap.to(prev3, .2, {
                left: '-42%',
                zIndex: 3,
                scale: .4,
                opacity: .4
            })
                    
            gsap.to(prev4, .2, {
                left: '-51%',
                zIndex: 2,
                scale: .35,
                opacity: .3
            })

            gsap.to(prev5, .2, {
                left: '-58%',
                zIndex: 1,
                scale: .3,
                opacity: .2
            })

            gsap.to(next1, .2, {
                left: '20%',
                zIndex: 5,
                scale: .47,
                opacity: .9
            })

            gsap.to(next2, .2, {
                left: '33%',
                zIndex: 4,
                scale: .43,
                opacity: .7
            })

            gsap.to(next3, .2, {
                left: '42%',
                zIndex: 3,
                scale: .4,
                opacity: .4
            })

            gsap.to(next4, .2, {
                left: '51%',
                zIndex: 2,
                scale: .35,
                opacity: .3
            })

            gsap.to(next5, .2, {
                left: '57%',
                scale: .3,
                zIndex: 1,
                opacity: .2
            })

            currentMessage.classList.add('focused');
            }
       </script>
</body>
</html>