<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Reset Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/csss/board.css}">
   <link rel="stylesheet" href="/bin/main/static/css/csss/board.css">

    <!-- Gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JS -->
    <script defer th:src="@{/js/jss/board.js}"></script>
   <script defer src="/bin/main/static/js/jss/board.js"></script>

   <!-- JQuery CDN -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <!-- Lodash CDN -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <!-- Side Menu Bar -->
    <nav class="side-menu">
        <div class="side-menu__inner">
            <ul>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/}">
                            <div class="material-icons">home</div>
                            <div class="side-menu__name">Home</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/board/list}">
                            <div class="material-icons">assignment</div>
                            <div class="side-menu__name">Post</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/message/list}">
                            <div class="material-icons">chat_bubble</div>
                            <div class="side-menu__name">Message</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">star</div>
                            <div class="side-menu__name">Reward</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">account_circle</div>
                            <div class="side-menu__name mypage">My page</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a href="">
                            <div class="material-icons">people</div>
                            <div class="side-menu__name">Members</div>
                        </a>
                        <div class="material-icons toggle-btn">arrow_drop_down</div>
                    </div>
                </li>
                <li>
                    <div class="side-menu__container">
                        <a th:href="@{/account/login}">
                            <div class="material-icons">login</div>
                            <div class="side-menu__name sign-in">Sign in / Register</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Nav -->
    <div class="main-page">
        <div class="top-nav">
            <a th:href="@{/}">
                <div class="website-name" style="cursor: pointer;">
                    <div class="website-name__title">
                        <div class="creativity">Creativity</div>
                        <div class="material-icons">tungsten</div>
                    </div>
                    <div class="website-name__description">The world is your oyster</div>
                </div>
            </a>
            <div class="website-menu">
                <div>
                    <div class="material-icons side-menu-btn">menu</div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Second Page -->
    <div class="second-page">
        <div class="inner">
            <div class="board__left-container">
                <div class="left-container__inner">
                    <div class="graphic">
                        <div class="hello">Hello!</div>
                        <div class="user-info">
                            <div class="user-info__photo">
                                <img src="/image/user-icon.jpg">
                            </div>
                            <div class="username">user32312</div>
                            <div class="bar blink"></div>
                        </div>
                        <div class="description">
                            <div>Type what you want to say</div>
                            <div>to the world,</div>
                            <div>The world is your oyster :)</div>
                        </div>
                    </div>
                    <div class="board__left-container__btn-group">
                        <form class="board__search" th:action="@{/board/list}" method="get">
                            <input type="text" name="searchText" th:value="${param.searchText}">
                            <div class="material-icons">search</div>
                            <button type="submit" class="material-icons">search</button>
                        </form>
                        <div class="board__write-btn btn" onclick="clickNewWritePostBtn()">Write a new post</div>
                        <div class="board__mypost-btn btn">My posts</div>
                    </div>
                </div>
                <!-- read post -->
                <ul>
                    <li th:each="board : ${boards}">
                        <div class="read-container__inner" th:classappend="${board != null} ? 'readpost' + ${board.id}">
                            <div class="material-icons close-btn" onclick="closeReadPost()">close</div>
                            <div class="read-container__user-info">
                                <div class="board-read__username">
                                    <div style="font-weight: bold; font-size: 11px;" th:text="${board.title}">this is a title</div>
                                    </div>
                                    <div class="board-read__user-photo">
                                        <img src="/image/user-icon.jpg">
                                    </div>
                                    <div class="board-read__date">
                                        <div style="font-size: 13px; margin-top:-3px" th:text="${board.username}">user0123</div>
                                        <div style="font-size: 10px; " th:text="${board.date}">2012.33.33 33:33:33</div>
                                    </div>
                                <div class="material-icons direct-message" th:onclick="|openDirectMessageForm(${board.id})|">email</div>
                            </div>
                            <div class="content-group">
                                <div class="read-container__content-inner" th:classappend="${board != null} ? 'replacement' + ${board.id}">
                                    <div class="post-like-icon" th:classappend="${board != null} ? 'postlike' + ${board.id}">
<!--                                        <div class="material-icons" th:onclick="|likePost(${board.id})|" th:if="${#lists.contains(board.likedUsers, user)}" style="color:red;">favorite</div>-->
                                        <div class="material-icons likes" th:onclick="|likePost(${board.id})|" th:unless="${#lists.contains(user.likedBoards, board)}">favorite</div>
                                        <div class="material-icons likes" th:onclick="|likePost(${board.id})|">favorite</div>
                                        <div class="post-like-number" th:text="${board.likes}">13333</div>
                                        <div class="material-icons comment">chat_bubble</div>
                                        <div class="post-comment-number" th:with="filtered=${board.comments.?[depth == 0]}" th:text="${#lists.size(filtered)}">12333</div>
                                    </div>
    
                                    <div class="read-container__content" th:text="${board.content}">
                                        this is a content.
                                    </div>
                                    <div class="bottom-container">
                                        <form th:classappend="${board != null} ? 'first-comment' + ${board.id}" th:action="@{/board/read/firstcomment}" method="post">
                                            <input type="hidden" name="boardid" th:value="${board.id}">
                                            <textarea name="content"></textarea>
                                            <button type="button" th:onclick="|firstComment(${board.id})|">
                                                <div class="material-icons" style="font-size: 15px;">edit</div>
                                            </button>
                                        </form>
                                        <ul>
                                            <li th:each="comment : ${board.comments}" th:if="${comment.depth == 0 and comment.boardid == board.id}">
                                                <div class="single-comment" th:classappend="${comment != null} ? 'like-comment-count' + ${comment.id}">
                                                    <div class="upper-line">
                                                        <div class="user-photo">
                                                            <img src="/image/user-icon.jpg">
                                                        </div>
                                                        <div class="username">
                                                            <div th:text="${comment.username}">user0123</div>
                                                        </div>
                                                        <div class="favorite" th:onclick="|likeComment(${comment.id})|">
<!--                                                            <div class="material-icons" th:if="${#lists.contains(comment.likedUsers, user)}" style="color:red;">favorite</div>-->
<!--                                                            <div class="material-icons likes" th:unless="${#lists.contains(comment.likedUsers, user)}">favorite</div>-->
                                                            <div class="material-icons likes">favorite</div>
                                                        </div>
                                                        <div class="like-count" th:text="${comment.likes}">13</div>
                                                        <div>
                                                            <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>
                                                        </div>
                                                        <div class="comment-count" style="margin-right: 23px" th:text="${#lists.size(comment.secondComments) - 1}">143</div>
                                                    </div>
                                                    <div class="bottom-line">
                                                        <div class="content">
                                                            <div th:text="${comment.content}">this is a commet.</div>
                                                            <div class="material-icons" th:onclick="|openReplyComment(${comment.id})|">reply</div>
                                                        </div>
                                                        <div class="comment-date" th:text="${comment.date}">2013.33.33 33:33:33</div>
                                                    </div>
                                                    <form th:classappend="${comment != null} ? 'reply-comment-form' + ${comment.id}" th:action="@{/board/read/secondcomment}" method="post">
                                                        <input type="hidden" name="commentid" th:value="${comment.commentid}">
                                                        <input type="hidden" name="boardid" th:value="${comment.boardid}"></input>
                                                        <input type="hidden" name="depth" th:value="${comment.depth}">
                                                        <textarea name="content"></textarea>
                                                        <button type="button" th:onclick="|secondComment(${comment.id},${board.id})|">
                                                            <div class="material-icons" style="font-size: 15px;">edit</div>
                                                        </button>
                                                    </form>
                                                    <ul>
                                                        <li class="second-comment" th:each="secondcomment : ${board.comments}" th:if="${secondcomment.depth == 1 and secondcomment.boardid == board.id and secondcomment.commentid == comment.id}">
                                                            <div class="single-second-comment"  th:classappend="${secondcomment != null} ? 'second-comment-count' + ${secondcomment.id}">
                                                                <div class="upper-line">
                                                                    <div class="user-photo">
                                                                        <img src="/image/user-icon.jpg">
                                                                    </div>
                                                                    <div class="username">
                                                                        <div th:text="${secondcomment.username}">user0123</div>
                                                                    </div>
                                                                    <div class="favorite" th:onclick="|likeSecondComment(${secondcomment.id})|">
<!--                                                                        <div class="material-icons" th:if="${#lists.contains(secondcomment.likedUsers, user)}" style="color:red;">favorite</div>-->
<!--                                                                        <div class="material-icons likes" th:unless="${#lists.contains(secondcomment.likedUsers, user)}">favorite</div>-->
                                                                        <div class="material-icons likes">favorite</div>
                                                                    </div>
                                                                    <div class="like-count" th:text="${secondcomment.likes}">13</div>
                                                                </div>
                                                                <div class="bottom-line">
                                                                    <div class="content" th:text="${secondcomment.content}">this is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comment.</div>
                                                                    <div class="comment-date" th:text="${secondcomment.date}">2013.33.33 33:33:33</div>
                                                                </div>
                                                            </div>
                                                        </li>
    <!--                                                    <li class="second-comment">-->
    <!--                                                        <div class="upper-line">-->
    <!--                                                            <div class="user-photo">-->
    <!--                                                                <img src="../static/image/user-icon.jpg">-->
    <!--                                                            </div>-->
    <!--                                                            <div class="username">-->
    <!--                                                                <div>user0123</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="favorite">-->
    <!--                                                                <div class="material-icons">favorite</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="like-count">13</div>-->
    <!--                                                            <div>-->
    <!--                                                                <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="comment-count" style="margin-right: 23px">143</div>-->
    <!--                                                        </div>-->
    <!--                                                        <div class="bottom-line">-->
    <!--                                                            <div class="content">this is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comment.</div>-->
    <!--                                                            <div class="comment-date">2013.33.33 33:33:33</div>-->
    <!--                                                        </div>-->
    <!--                                                    </li>-->
                                                    </ul>
                                                </div>
                                            </li>
    <!--                                        <li>-->
    <!--                                            <div class="single-comment">-->
    <!--                                                <div class="upper-line">-->
    <!--                                                    <div class="user-photo">-->
    <!--                                                        <img src="../static/image/user-icon.jpg">-->
    <!--                                                    </div>-->
    <!--                                                    <div class="username">-->
    <!--                                                        <div>user0123</div>-->
    <!--                                                    </div>-->
    <!--                                                    <div class="favorite">-->
    <!--                                                        <div class="material-icons">favorite</div>-->
    <!--                                                    </div>-->
    <!--                                                    <div class="like-count">13</div>-->
    <!--                                                    <div>-->
    <!--                                                        <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
    <!--                                                    </div>-->
    <!--                                                    <div class="comment-count" style="margin-right: 23px">143</div>-->
    <!--                                                </div>-->
    <!--                                                <div class="bottom-line">-->
    <!--                                                    <div class="content">-->
    <!--                                                        <div>this is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commet.</div>-->
    <!--                                                        <div class="material-icons reply">reply</div>-->
    <!--                                                    </div>-->
    <!--                                                    <div class="comment-date">2013.33.33 33:33:33</div>-->
    <!--                                                </div>-->
    <!--                                                <form action="">-->
    <!--                                                    <textarea></textarea>-->
    <!--                                                    <button type="submit">-->
    <!--                                                        <div class="material-icons" style="font-size: 15px;">edit</div>-->
    <!--                                                    </button>-->
    <!--                                                </form>-->
    <!--                                                <ul>-->
    <!--                                                    <li class="second-comment">-->
    <!--                                                        <div class="upper-line">-->
    <!--                                                            <div class="user-photo">-->
    <!--                                                                <img src="../static/image/user-icon.jpg">-->
    <!--                                                            </div>-->
    <!--                                                            <div class="username">-->
    <!--                                                                <div>user0123</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="favorite">-->
    <!--                                                                <div class="material-icons">favorite</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="like-count">13</div>-->
    <!--                                                            <div>-->
    <!--                                                                <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="comment-count" style="margin-right: 23px">143</div>-->
    <!--                                                        </div>-->
    <!--                                                        <div class="bottom-line">-->
    <!--                                                            <div class="content">this is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comment.</div>-->
    <!--                                                            <div class="comment-date">2013.33.33 33:33:33</div>-->
    <!--                                                        </div>-->
    <!--                                                    </li>-->
    <!--                                                    <li class="second-comment">-->
    <!--                                                        <div class="upper-line">-->
    <!--                                                            <div class="user-photo">-->
    <!--                                                                <img src="../static/image/user-icon.jpg">-->
    <!--                                                            </div>-->
    <!--                                                            <div class="username">-->
    <!--                                                                <div>user0123</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="favorite">-->
    <!--                                                                <div class="material-icons">favorite</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="like-count">13</div>-->
    <!--                                                            <div>-->
    <!--                                                                <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
    <!--                                                            </div>-->
    <!--                                                            <div class="comment-count" style="margin-right: 23px">143</div>-->
    <!--                                                        </div>-->
    <!--                                                        <div class="bottom-line">-->
    <!--                                                            <div class="content">this is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comment.</div>-->
    <!--                                                            <div class="comment-date">2013.33.33 33:33:33</div>-->
    <!--                                                        </div>-->
    <!--                                                    </li>-->
    <!--                                                </ul>-->
    <!--                                            </div>-->
    <!--                                        </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        
                        <form class="direct-message-form" th:action="@{/message/new}" th:classappend="${board != null} ? 'direct-message' + ${board.id}" method="post">
                            <div class="material-icons close">close</div>
                            <div style="font-size: 12px; text-align: center;">
                                <span>Send Message to</span>
                                <span style="font-weight: bold;" th:text=${board.username}>user1234</span>
                            </div>
                            <input type="hidden" name="receiver" th:value="${board.username}">
                            <textarea name="content" placeholder="Type message"></textarea>
                            <div class="send-btn" th:onclick="|sendMessage(${board.id})|">Send</div>
                        </form>
                    </li>
<!--                    <li>-->
<!--                        <div class="read-container__inner readpost2">-->
<!--                            <div class="material-icons close-btn close-read2" onclick="closeReadPost()">close</div>-->
<!--                            <div class="read-container__user-info">-->
<!--                                <div class="board-read__username">-->
<!--                                    <div style="font-weight: bold; font-size: 11px;">this is a title</div>-->
<!--                                    </div>-->
<!--                                    <div class="board-read__user-photo">-->
<!--                                        <img src="../static/image/user-icon.jpg">-->
<!--                                    </div>-->
<!--                                    <div class="board-read__date">-->
<!--                                        <div style="font-size: 13px; margin-top:-3px">user0123</div>-->
<!--                                        <div style="font-size: 10px; ">2012.33.33 33:33:33</div>-->
<!--                                    </div>-->
<!--                                <div class="material-icons">email</div>-->
<!--                            </div>-->
<!--                            <div class="read-container__content-inner">-->
<!--                                <div class="read-container__content">-->
<!--                                    this is a content.-->
<!--                                </div>-->
<!--                                <div class="bottom-container">-->
<!--                                    <form action="">-->
<!--                                        <textarea></textarea>-->
<!--                                        <button type="submit">-->
<!--                                            <div class="material-icons" style="font-size: 15px;">edit</div>-->
<!--                                        </button>-->
<!--                                    </form>-->
<!--                                    <ul>-->
<!--                                        <li>-->
<!--                                            <div class="single-comment">-->
<!--                                                <div class="upper-line">-->
<!--                                                    <div class="user-photo">-->
<!--                                                        <img src="../static/image/user-icon.jpg">-->
<!--                                                    </div>-->
<!--                                                    <div class="username">-->
<!--                                                        <div>user0123</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="favorite">-->
<!--                                                        <div class="material-icons">favorite</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="like-count">13</div>-->
<!--                                                    <div>-->
<!--                                                        <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="comment-count" style="margin-right: 23px">143</div>-->
<!--                                                </div>-->
<!--                                                <div class="bottom-line">-->
<!--                                                    <div class="content">-->
<!--                                                        <div>this is a commet.</div>-->
<!--                                                        <div class="material-icons reply">reply</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="comment-date">2013.33.33 33:33:33</div>-->
<!--                                                </div>-->
<!--                                                <form action="">-->
<!--                                                    <textarea></textarea>-->
<!--                                                    <button type="submit">-->
<!--                                                        <div class="material-icons" style="font-size: 15px;">edit</div>-->
<!--                                                    </button>-->
<!--                                                </form>-->
<!--                                                <ul>-->
<!--                                                    <li class="second-comment">-->
<!--                                                        <div class="upper-line">-->
<!--                                                            <div class="user-photo">-->
<!--                                                                <img src="../static/image/user-icon.jpg">-->
<!--                                                            </div>-->
<!--                                                            <div class="username">-->
<!--                                                                <div>user0123</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="favorite">-->
<!--                                                                <div class="material-icons">favorite</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="like-count">13</div>-->
<!--                                                            <div>-->
<!--                                                                <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="comment-count" style="margin-right: 23px">143</div>-->
<!--                                                        </div>-->
<!--                                                        <div class="bottom-line">-->
<!--                                                            <div class="content">this is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comment.</div>-->
<!--                                                            <div class="comment-date">2013.33.33 33:33:33</div>-->
<!--                                                        </div>-->
<!--                                                    </li>-->
<!--                                                    <li class="second-comment">-->
<!--                                                        <div class="upper-line">-->
<!--                                                            <div class="user-photo">-->
<!--                                                                <img src="../static/image/user-icon.jpg">-->
<!--                                                            </div>-->
<!--                                                            <div class="username">-->
<!--                                                                <div>user0123</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="favorite">-->
<!--                                                                <div class="material-icons">favorite</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="like-count">13</div>-->
<!--                                                            <div>-->
<!--                                                                <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="comment-count" style="margin-right: 23px">143</div>-->
<!--                                                        </div>-->
<!--                                                        <div class="bottom-line">-->
<!--                                                            <div class="content">this is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comment.</div>-->
<!--                                                            <div class="comment-date">2013.33.33 33:33:33</div>-->
<!--                                                        </div>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <div class="single-comment">-->
<!--                                                <div class="upper-line">-->
<!--                                                    <div class="user-photo">-->
<!--                                                        <img src="../static/image/user-icon.jpg">-->
<!--                                                    </div>-->
<!--                                                    <div class="username">-->
<!--                                                        <div>user0123</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="favorite">-->
<!--                                                        <div class="material-icons">favorite</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="like-count">13</div>-->
<!--                                                    <div>-->
<!--                                                        <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="comment-count" style="margin-right: 23px">143</div>-->
<!--                                                </div>-->
<!--                                                <div class="bottom-line">-->
<!--                                                    <div class="content">-->
<!--                                                        <div>this is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commehis is a commet.</div>-->
<!--                                                        <div class="material-icons reply">reply</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="comment-date">2013.33.33 33:33:33</div>-->
<!--                                                </div>-->
<!--                                                <form action="">-->
<!--                                                    <textarea></textarea>-->
<!--                                                    <button type="submit">-->
<!--                                                        <div class="material-icons" style="font-size: 15px;">edit</div>-->
<!--                                                    </button>-->
<!--                                                </form>-->
<!--                                                <ul>-->
<!--                                                    <li class="second-comment">-->
<!--                                                        <div class="upper-line">-->
<!--                                                            <div class="user-photo">-->
<!--                                                                <img src="../static/image/user-icon.jpg">-->
<!--                                                            </div>-->
<!--                                                            <div class="username">-->
<!--                                                                <div>user0123</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="favorite">-->
<!--                                                                <div class="material-icons">favorite</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="like-count">13</div>-->
<!--                                                            <div>-->
<!--                                                                <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="comment-count" style="margin-right: 23px">143</div>-->
<!--                                                        </div>-->
<!--                                                        <div class="bottom-line">-->
<!--                                                            <div class="content">this is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comment.</div>-->
<!--                                                            <div class="comment-date">2013.33.33 33:33:33</div>-->
<!--                                                        </div>-->
<!--                                                    </li>-->
<!--                                                    <li class="second-comment">-->
<!--                                                        <div class="upper-line">-->
<!--                                                            <div class="user-photo">-->
<!--                                                                <img src="../static/image/user-icon.jpg">-->
<!--                                                            </div>-->
<!--                                                            <div class="username">-->
<!--                                                                <div>user0123</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="favorite">-->
<!--                                                                <div class="material-icons">favorite</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="like-count">13</div>-->
<!--                                                            <div>-->
<!--                                                                <div class="material-icons" style="margin-left: 5px;">chat_bubble</div>-->
<!--                                                            </div>-->
<!--                                                            <div class="comment-count" style="margin-right: 23px">143</div>-->
<!--                                                        </div>-->
<!--                                                        <div class="bottom-line">-->
<!--                                                            <div class="content">this is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comis is a comment.</div>-->
<!--                                                            <div class="comment-date">2013.33.33 33:33:33</div>-->
<!--                                                        </div>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
                </ul>
            </div>
            <!-- board right container -->
            <div class="board__right-container">
                <div class="board-list__container">
                    <div class="board__right-container-title">POST</div>
                    <div class="board__page-number">
                        <span style="margin-right:5px;">|</span>
                        <span>PAGE</span>
                        <span style="margin-left:5px;" th:text="${boards.pageable.pageNumber} + 1">2</span>
                    </div>
                    <div class="board__right-container__inner">
                        <div class="board__right-container__top">
                            <div class="board__total">
                                <span>TOTAL : </span> 
                                <span th:text="${boards.totalElements}">33</span>
                            </div>
                        </div>
                        <ul class="board__list">
                            <li th:each="board : ${boards}">
                                <div class="board-list__single-post">
                                    <div class="board-list__id">
                                        <span th:text="${board.id}">00</span>
                                    </div>
                                    <div class="board-list__title">
                                        <div class="board-list__title-title" th:onclick="|readPost(${board.id})|" th:text="${board.title}">this is a title</div>
                                        <div class="icons">
                                            <div class="material-icons">favorite</div>
                                            <div th:classappend="${board != null} ? 'list-like-count' + ${board.id}" th:text="${board.likes}">123</div>
                                            <div class="material-icons comment" style="margin-left: 5px">txtsms</div>
                                            <div th:classappend="${board != null} ? 'list-comment-count' + ${board.id}" th:with="filtered=${board.comments.?[depth == 0]}" th:text="${#lists.size(filtered)}">123</div>
                                        </div>
                                    </div>
                                    <div class="board-list__user-photo">
                                        <img src="/image/user-icon.jpg">
                                    </div>
                                    <div class="board-list__username">
                                        <span th:text="${board.username}">user0123</span>
                                    </div>
                                    <div class="material-icons">visibility</div>
                                    <div class="board-list__view">
                                        <span th:classappend="${board != null} ? 'list-view-count' + ${board.id}" th:text="${board.view}">23111</span>
                                    </div>
                                    <div class="board-list__date">
                                        <span th:text="${board.date}">2022.33.33, 33:33:33</span>
                                    </div>
                                </div>
                            </li>
<!--                            <li>-->
<!--                                <div class="board-list__single-post">-->
<!--                                    <div class="board-list__id">-->
<!--                                        <span>00</span>-->
<!--                                    </div>-->
<!--                                    <div class="board-list__title">-->
<!--                                        <div class="board-list__title-title" onclick="readPost(2)">this is a title</div>-->
<!--                                        <div class="icons">-->
<!--                                            <div class="material-icons">favorite</div>-->
<!--                                            <div>123</div>-->
<!--                                            <div class="material-icons comment" style="margin-left: 5px">txtsms</div>-->
<!--                                            <div>123</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="board-list__user-photo">-->
<!--                                        <img src="../static/image/user-icon.jpg">-->
<!--                                    </div>-->
<!--                                    <div class="board-list__username">-->
<!--                                        <span>user0123</span>-->
<!--                                    </div>-->
<!--                                    <div class="material-icons">visibility</div>-->
<!--                                    <div class="board-list__view">-->
<!--                                        <span>23111</span>-->
<!--                                    </div>-->
<!--                                    <div class="board-list__date">-->
<!--                                        <span>2022.33.33, 33:33:33</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
                        </ul>
                        <div class="board__pagination">
                            <ul>
                                <li th:classappend="${boards.pageable.pageNumber == 0} or ${boards.totalElements == 0} ? 'disabled'">
                                    <a href="" th:href="@{/board/list(page = ${boards.pageable.pageNumber - 1}, searchText = ${param.searchText})}">&laquo;</a>
                                </li>
                                <li th:unless="${boards.totalElements == 0}" th:each="i: ${#numbers.sequence(startPage, endPage)}" th:classappend="${boards.pageable.pageNumber == i-1} ? 'active'">
                                    <a href="" th:href="@{/board/list(page = ${i-1}, searchText = ${param.searchText})}" th:text="${i}">1</a>
                                </li>
                                <li class="disabled" th:if="${boards.totalElements == 0}">
                                    <a class="page-link">1</a>
                                </li>
                                <li th:classappend="${boards.pageable.pageNumber == boards.totalPages-1} or ${boards.totalElements == 0} ? 'disabled'">
                                    <a href="" th:href="@{/board/list(page = ${boards.pageable.pageNumber + 1}, searchText = ${param.searchText})}">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="board-write__container">
                    <div class="board__right-container-title">NEW POST</div>
                    <div class="board-write__inner">
                        <form th:action="@{/board/list}" th:object="${board}" method="post">
                            <input type="hidden" th:field="*{id}">
                            <div class="board-write__title">
                                <input type="text" th:field="*{title}" placeholder="Title">
                            </div>
                            <div class="board-write__content">
                                <textarea th:field="*{content}" placeholder="Type what you want to say to the world, the world is your oyster :)"></textarea>
                            </div>
                            <div class="board-write__btn-group">
                                <a class="btn" type="button" onclick="clickNewWritePostBtn()">Back to list</a>
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="darkening">

    </div>

</body>
</html>